@page "/home"
@model SEP3PresentationTier.Pages.Homepage

@using Microsoft.AspNetCore.Http;

<div class="row">
    <div class="col-12">
        <h4>Hello, @HttpContext.Session.GetString("username")</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="p-3 request-form">
            <form method="post">
                <input type="text" class="form-control" placeholder="Title:" name="Title"/>
                <input type="submit" class="form-control" name="Action" value="Request"/>
            </form>
        </div>
    </div>
    
    <div class="col-md-4">
        
            <ul class="playlist">
                @foreach (var song in Model.Playlist)
                {
                    <li>
                        <form method="post">
                            <span class="title">@song.title</span> <span class="votes">@song.votes</span>
                            <input type="hidden" value="@song.id" name="SongId"/>
                            <input type="submit" name="Action" value="Vote" class="form-control"/>

                            @if (@HttpContext.Session.GetString("usertype") == "DJ")
                            {
                                <input type="submit" name="Action" value="Play" class="form-control"/>
                            }
                        </form>
                    </li>
                }
            </ul>
    </div>
    
    <div class="d-none d-md-block col-md-4"></div>
</div>
